nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  color: var(--primary);
}

nav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 50%;
  color: var(--primary);
  margin-bottom: var(--spacing);
  background-color: transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

nav a:hover:not(nav a:first-child) {
  background-color: var(--primaryLight);
  color: var(--light);
}

nav a img#logo {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
}

.wrapper .row {
  height: 100%;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  padding: var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--lightGrey);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding: 0 0 var(--spacing);
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

.textareaContainer textarea::placeholder {
  color: var(--greyText);
}

#submitPostButton,
#submitReplyButton,
#deletePostButton,
#imageUploadButton,
#coverPhotoUploadButton,
#pinPostButton,
#unpinPostButton,
#chatNameButton {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: 4px;
  padding: 7px var(--spacing);
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#submitPostButton:hover,
#submitReplyButton:hover,
#deletePostButton:hover,
#imageUploadButton:hover,
#coverPhotoUploadButton:hover,
#pinPostButton:hover,
#unpinPostButton:hover,
#chatNameButton:hover {
  background-color: var(--primaryDark);
  color: white;
}

#submitPostButton:disabled,
#submitReplyButton:disabled,
#deletePostButton:disabled,
#imageUploadButton:disabled,
#coverPhotoUploadButton:disabled,
#pinPostButton:disabled,
#unpinPostButton:disabled,
#chatNameButton:disabled {
  background-color: var(--primaryLight);
  cursor: unset;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  display: flex;
  flex: 1;
}

.chatPageContainer .mainContentContainer {
  min-height: 0;
  flex-basis: 0;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username, .date {
  color: var(--greyText);
}

.displayName {
  font-weight: 700;
}

.displayName:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
}

.postFooter .postButtonContainer button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.postButtonContainer button:hover {
  background-color: var(--primaryLight);
  color: var(--light) !important;
}

.postFooter .postButtonContainer button i,
.postFooter .postButtonContainer button span {
  pointer-events: none;
}

.postButtonContainer.red button.active {
  color: var(--primaryLight);
}

.postButtonContainer.green button.active {
  color: var(--green);
}

.postActionContainer {
  padding-left: 65px;
  color: var(--greyText);
  font-size: 13px;
  margin-bottom: 3px;
}

.replyFlag {
  margin-bottom: 5px;
}

.replyFlag a {
  color: var(--primary);
}

.post.largeFont .postBody {
  font-size: 23px;
}

.post.largeFont .postFooter {
  font-size: 18px;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.postContentContainer .deletePostIcon,
.postContentContainer .confirmPinIcon {
  cursor: pointer;
  pointer-events: all;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}

.postContentContainer .deletePostIcon:hover,
.postContentContainer .confirmPinIcon:hover {
  background-color: var(--lightGrey);
}

.postContentContainer .confirmPinIcon {
  margin-right: 8px;
}

.postContentContainer .confirmPinIcon i {
  vertical-align: middle;
}

span.errorMessage {
  padding: var(--spacing);
}

.profileHeaderContainer .coverPhotoSection {
  height: 180px;
  background-color: var(--primary);
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profileHeaderContainer .profileButtonContainer .profileButton,
.profileHeaderContainer .profileButtonContainer .followButton,
.resultsContainer .followButtonContainer .followButton {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: bold;
  padding: 5px var(--spacing);
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing);
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.profileHeaderContainer .profileButtonContainer .profileButton:hover,
.profileHeaderContainer .profileButtonContainer .followButton:hover,
.resultsContainer .followButtonContainer .followButton:hover,
.profileHeaderContainer .profileButtonContainer .followButton.following,
.resultsContainer .followButtonContainer .followButton.following {
  background-color: var(--primaryLight);
  color: #fff;
}

.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.profileHeaderContainer .followersContainer span.value {
  font-weight: 700;
  margin-right: 5px;
}

.profileHeaderContainer .followersContainer span:not(.value) {
  color: var(--greyText);
}

.profileHeaderContainer .followersContainer a {
  margin-right: var(--spacing);
}

.profileHeaderContainer .followersContainer a:hover {
  border-bottom: 1px solid #000;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}

.tabsContainer .tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: 700;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.tabsContainer .tab.active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.tabsContainer .tab:hover {
  color: var(--light);
  background-color: var(--primaryLight);
}

.noResults {
  padding: var(--spacing);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}

.resultsContainer .user .userDetailsContainer {
  flex: 1;
  padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
  position: absolute;
  font-size: 50px;
  color: var(--darkGrey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoContainer:hover .coverPhotoButton {
  opacity: 1;
}

.coverPhotoContainer {
  width: 100%;
  height: 100%;
}

.imagePreviewContainer {
  margin-top: var(--spacing);
}

#imagePreview,
#coverPreview {
  display: block;
  max-width: 100%;
}

.coverPhotoContainer img {
  height: 100%;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
}

.confirmPinIcon.active {
  color: var(--primary);
}

.pinnedPostText {
  font-size: 12px;
  color: var(--greyText);
}

.pinnedPostContainer {
  border-bottom: 10px solid var(--lightGrey);
}

.searchBarContainer {
  position: relative;
  color: var(--greyText);
  padding: 10px var(--spacing);
}

.searchBarContainer i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.searchBarContainer #searchBox {
  height: 36px;
  width: 100%;
  padding: 5px var(--spacing);
  text-indent: 15px;
  border-radius: 50px;
  background-color: var(--lightGrey);
  border: none;
  color: var(--greyText);
}

.chatPageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chatPageContainer .chatTitleBar {
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 10px;
}

.chatPageContainer .chatTitleBar label {
  margin-right: 10px;
  margin-bottom: unset;
}

.chatPageContainer .chatTitleBar #selectedUsers {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.chatPageContainer .chatTitleBar #selectedUsers .selectedUser {
  white-space: nowrap;
  font-weight: 300;
  background-color: var(--primaryLight);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
}

.chatPageContainer .chatTitleBar #userSearchTextbox {
  border: none;
  width: 100%;
  font-weight: 300;
  min-width: 350px;
  padding: 5px;
  flex: 1;
}

.chatPageContainer #createChatButton {
  border: none;
  background-color: var(--primary);
  color: var(--light);
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.chatPageContainer #createChatButton:disabled {
  background-color: var(--primaryLight);
  pointer-events: none;
}

.chatPageContainer #createChatButton:hover {
  background-color: var(--primaryDark);
  color: #fff;
}

.resultsContainer .user.clickable {
  cursor: pointer;
}

.resultsContainer .resultListItem,
#notificationList .resultListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px;
  border-bottom: 1px solid var(--lightGrey);
  transition: background-color 0.2s ease-out;
}

.resultsContainer .resultListItem:hover {
  background-color: var(--light);
}

.resultsContainer .resultListItem .resultsDetailsContainer,
#notificationList .resultListItem .resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resultsContainer .resultListItem .resultsDetailsContainer .heading,
#notificationList .resultListItem .resultsDetailsContainer .heading {
  font-weight: 700;
}

.resultsContainer .resultListItem .resultsDetailsContainer .subText {
  color: var(--greyText);
  font-size: 14px;
}

.resultsContainer .resultListItem .resultsImageContainer,
#notificationList .resultListItem .resultsImageContainer {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.resultsContainer .resultListItem .resultsImageContainer.groupChatImage img,
#notificationList .resultListItem .resultsImageContainer.groupChatImage img {
  height: 65%;
  width: 65%;
  position: absolute;
  bottom: 0;
  border: 2px solid white;
}

.resultsContainer .resultListItem .resultsImageContainer.groupChatImage img:first-of-type,
#notificationList .resultListItem .resultsImageContainer.groupChatImage img:first-of-type {
  top: 0;
  right: 0;
}

.resultsContainer .resultListItem .resultsImageContainer img,
#notificationList .resultListItem .resultsImageContainer img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatPageContainer .chatTitleBarContainer {
  border-bottom: 1px solid var(--lightGrey);
  padding: var(--spacing);
  display: flex;
  align-items: center;
}

.chatPageContainer #chatName {
  width: 100%;
  border: 1px solid transparent;
  padding: 0 5px;
  transition: border 0.2s ease-out;
}

.chatPageContainer #chatName:hover {
  border: 1px solid var(--lightGrey);
  cursor: text;
}

.chatPageContainer .chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chatPageContainer .chatContainer .footer {
  display: flex;
  padding: var(--spacing);
}

.chatContainer .footer textarea {
  flex: 1;
  resize: none;
  background-color: var(--lightGrey);
  border-radius: 18px;
  border: none;
  padding: 8px;
  height: 40px;
  text-indent: 12px;
}

.chatContainer .footer button {
  background-color: transparent;
  color: var(--primary);
  font-size: 24px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.chatContainer .footer button:hover {
  background-color: var(--primary);
  color: #fff;
}

.chatContainer .chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--spacing);
}

.chatImagesContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.chatImagesContainer img {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
  margin-left: -10px;
}

.chatImagesContainer .userCount {
  height: 40px;
  width: 40px;
  background-color: var(--light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid #fff;
}

#chatNameTextbox {
  width: 100%;
}

.chatMessages .message {
  padding-bottom: 2px;
  list-style: none;
}

.chatMessages .message .messageContainer {
  max-width: 55%;
}

.chatMessages .message .messageBody {
  background-color: var(--light);
  padding: 6px 12px;
  border-radius: 18px;
  font-size: 14px;
  display: block;
  width: fit-content;
}

.chatMessages .message.single .messageBody {
  border-radius: 18px !important;
}

.chatMessages .message.mine .messageContainer {
  margin-left: auto;
}

.chatMessages .message.mine .messageContainer .messageBody {
  margin-left: auto;
  background-color: var(--primary);
  color: #fff;
}

.chatMessages .message.mine.first .messageBody {
  border-bottom-right-radius: 2px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
  border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
  border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
  border-top-left-radius: 2px;
}

.chatMessages .message .sentBy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.chatMessages .message .senderName {
  color: var(--darkGrey);
}

.chatMessages .imageContainer {
  height: 24px;
  width: 24px;
  margin-right: 7px;
}

.chatMessages .imageContainer img {
  height: 100%;
  border-radius: 50%;
  vertical-align: bottom;
}

.chatMessages .message.last {
  margin-bottom: 5px;
}

.loadingSpinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.resultListItem.active {
  background-color: var(--primaryBackground)
}

.resultListItem.notification * {
  pointer-events: none;
}

button#markNotificationsAsRead {
  cursor: pointer;
}

#notificationsBadge,
#messagesBadge {
  background-color: var(--primaryBackground);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#notificationsBadge.active,
#messagesBadge.active {
  visibility: visible;
}

#notificationList {
  position: fixed;
  top: 5px;
  right: 20px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}