:root {
  --primary: #d32f2f;
  --primaryLight: #ff5f52;
  --primaryDark: #8e0000;
  --green: rgb(23, 191, 99);
  --light: #f2f2f2;
  --lightGrey: rgb(230, 236, 240);
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --dark: #424242;
  --spacing: 15px;
}

* {
  outline-color: var(--primaryDark);
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyButtonText);
}

h1 {
  font-size: 19px;
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  color: var(--primary);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 50%;
  color: var(--primary);
  margin-bottom: var(--spacing);
  background-color: transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

nav a:hover:not(nav a:first-child) {
  background-color: var(--primaryLight);
  color: var(--light);
}

nav a img#logo {
  width: 100%;
  height: 100%;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  padding: var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--lightGrey);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding: 0 0 var(--spacing);
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

.textareaContainer textarea::placeholder {
  color: var(--greyText);
}

#submitPostButton,
#submitReplyButton {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: 4px;
  padding: 7px var(--spacing);
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#submitPostButton:hover,
#submitReplyButton:hover {
  background-color: var(--primaryDark);
  color: white;
}

#submitPostButton:disabled,
#submitReplyButton:disabled {
  background-color: var(--primaryLight);
  cursor: unset;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  display: flex;
  flex: 1;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username, .date {
  color: var(--greyText);
}

.displayName {
  font-weight: 700;
}

.displayName:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
}

.postFooter .postButtonContainer button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.postButtonContainer button:hover {
  background-color: var(--primaryLight);
  color: var(--light) !important;
}

.postFooter .postButtonContainer button i,
.postFooter .postButtonContainer button span {
  pointer-events: none;
}

.postButtonContainer.red button.active {
  color: var(--primaryLight);
}

.postButtonContainer.green button.active {
  color: var(--green);
}

.postActionContainer {
  padding-left: 65px;
  color: var(--greyText);
  font-size: 13px;
  margin-bottom: 3px;
}

.replyFlag {
  margin-bottom: 5px;
}

.replyFlag a {
  color: var(--primary);
}