nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  color: var(--primary);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 50%;
  color: var(--primary);
  margin-bottom: var(--spacing);
  background-color: transparent;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

nav a:hover:not(nav a:first-child) {
  background-color: var(--primaryLight);
  color: var(--light);
}

nav a img#logo {
  width: 100%;
  height: 100%;
}

.mainSectionContainer {
  padding: 0;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  padding: var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid var(--lightGrey);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding: 0 0 var(--spacing);
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

.textareaContainer textarea::placeholder {
  color: var(--greyText);
}

#submitPostButton,
#submitReplyButton,
#deletePostButton,
#imageUploadButton,
#coverPhotoUploadButton {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: 4px;
  padding: 7px var(--spacing);
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#submitPostButton:hover,
#submitReplyButton:hover,
#deletePostButton:hover,
#imageUploadButton:hover,
#coverPhotoUploadButton:hover {
  background-color: var(--primaryDark);
  color: white;
}

#submitPostButton:disabled,
#submitReplyButton:disabled,
#deletePostButton:disabled,
#imageUploadButton:disabled,
#coverPhotoUploadButton:disabled {
  background-color: var(--primaryLight);
  cursor: unset;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  display: flex;
  flex: 1;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username, .date {
  color: var(--greyText);
}

.displayName {
  font-weight: 700;
}

.displayName:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
}

.postFooter .postButtonContainer button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.postButtonContainer button:hover {
  background-color: var(--primaryLight);
  color: var(--light) !important;
}

.postFooter .postButtonContainer button i,
.postFooter .postButtonContainer button span {
  pointer-events: none;
}

.postButtonContainer.red button.active {
  color: var(--primaryLight);
}

.postButtonContainer.green button.active {
  color: var(--green);
}

.postActionContainer {
  padding-left: 65px;
  color: var(--greyText);
  font-size: 13px;
  margin-bottom: 3px;
}

.replyFlag {
  margin-bottom: 5px;
}

.replyFlag a {
  color: var(--primary);
}

.post.largeFont .postBody {
  font-size: 23px;
}

.post.largeFont .postFooter {
  font-size: 18px;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.postContentContainer .deletePostIcon {
  cursor: pointer;
  pointer-events: all;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}

.postContentContainer .deletePostIcon:hover {
  background-color: var(--lightGrey);
}

span.errorMessage {
  padding: var(--spacing);
}

.profileHeaderContainer .coverPhotoSection {
  height: 180px;
  background-color: var(--primary);
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  height: 132px;
  width: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profileHeaderContainer .profileButtonContainer .profileButton,
.profileHeaderContainer .profileButtonContainer .followButton,
.resultsContainer .followButtonContainer .followButton {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: bold;
  padding: 5px var(--spacing);
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing);
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.profileHeaderContainer .profileButtonContainer .profileButton:hover,
.profileHeaderContainer .profileButtonContainer .followButton:hover,
.resultsContainer .followButtonContainer .followButton:hover,
.profileHeaderContainer .profileButtonContainer .followButton.following,
.resultsContainer .followButtonContainer .followButton.following {
  background-color: var(--primaryLight);
  color: #fff;
}

.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.profileHeaderContainer .followersContainer span.value {
  font-weight: 700;
  margin-right: 5px;
}

.profileHeaderContainer .followersContainer span:not(.value) {
  color: var(--greyText);
}

.profileHeaderContainer .followersContainer a {
  margin-right: var(--spacing);
}

.profileHeaderContainer .followersContainer a:hover {
  border-bottom: 1px solid #000;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}

.tabsContainer .tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: 700;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.tabsContainer .tab.active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.tabsContainer .tab:hover {
  color: var(--light);
  background-color: var(--primaryLight);
}

.noResults {
  padding: var(--spacing);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}

.resultsContainer .user .userDetailsContainer {
  flex: 1;
  padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
  position: absolute;
  font-size: 50px;
  color: var(--darkGrey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoContainer:hover .coverPhotoButton {
  opacity: 1;
}

.coverPhotoContainer {
  width: 100%;
  height: 100%;
}

.imagePreviewContainer {
  margin-top: var(--spacing);
}

#imagePreview,
#coverPreview {
  display: block;
  max-width: 100%;
}

.coverPhotoContainer img {
  height: 100%;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
}